@charset "uts-8";
/* 전체 레이아웃 */
#wrap{
    color: #222;
    background-color: #fff;
    margin: 0;
    width: auto;
}


.header{
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    height: 80px;
    contain-intrinsic-height: 80px;
    z-index: 10;
    contain: size style layout;
    
}
.header1{
    height: 80px;
    z-index: 100;
    position: relative;
    background-color: #111;

}
.header1 .header2{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: inherit;
    padding: 0 40px;
    background-color:white;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 5px gray;

}
.start{
    --page-shell-max-content-width: 2520px;
    --gp-sidebar-top-padding: 0;
    position: relative;
    isolation: isolate;
    --explore_padding-inline: 80px;
}

.logospace {
    font-size: 24px;
}


.logospace a{
    text-decoration: none;
    color: rgb(30, 157, 257);
}

.logospace i {
    color: rgb(30, 157, 257);
}

.logoimg{
    outline: none;
    align-items: center;
    display: inline-flex;
    height: 80px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    color: #111;
}

.middleheader{
    padding: 0 24px;
    flex: 0 1 auto;
    min-width: 10px;
    text-align: center;
}

.header_menu{
    flex: 1 0 400px;
    text-align: center;
    display: flex;
    list-style: none;
}

.lastheader a{
    padding: 8px 12px;
    color: black;
}

.navi{
    /* -webkit-padding-before: var(--explore-nav_padding-block-start); */
    padding-block-start: var(--explore-nav_padding-block-start);
    /* position: -webkit-sticky; */
    position: sticky;
    top: calc( 80px - var(--explore-nav_padding-block-start,0px) );
    z-index: 9;
    height: 98px;
    contain-intrinsic-height: 98px;
    contain: size style layout;
    --explore-nav_padding-block-start: 20px; /*네비바 사이 공간*/

}

.navicontainer{
display: flex;
padding: 0 100px;
height: inherit;
justify-content: center;
background-color: #fff;
}   

.naviitem{
    min-width: 80px;
    margin: 0 20px;
    display: grid;
    grid-template-rows: [first] 75% [second] 25% ;
    text-align: center;
    cursor: pointer;
}

.naviitem:hover{
    transition: 0.5s;
  filter: brightness(2) invert(0);
}

/*아이콘 크기 조정 -> padding 조정*/
.naviitem .concert_icon {
    padding:20px;
    padding-top: 10px;
  }
  
  .naviitem .fest_icon {
    padding: 20px;
    padding-top: 10px;
  }
  
  .naviitem .pj_icon {
    padding: 20px;
    padding-top: 10px;
  }
  

  
  /* 아이콘 이미지 삽입 */

  .naviicon{
    width: inherit;
    filter: opacity(0.5) drop-shadow(0 0 0 #6B6A6F);
    display: block; 
    
  } 
 .project {
    background: url('/images/briefing.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .concert {
    background: url('/images/microphone.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .festival {
    background: url('/images/festival.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .exhibition {
    background: url('/images/exhibition.png') no-repeat;
    background-size:70%;
    background-position: center;
  }

.footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--scrollbar-gutter,0%));
    height: 100px;
    z-index: 8;
    pointer-events: none;
    display: grid;
    grid-template: repeat(2,auto) / repeat(3,33.333%);
    grid-template-areas: 'left center right' 'bottom bottom bottom';
}

.footer1{
    grid-area: bottom;
    background-color: #122;
}



.content{
    margin-inline: auto;
    background: var(#444);
    max-width: var(--page-shell-max-content-width,1760px);
    contain: paint layout;
    padding: 0 80px;
}
    

.content2{
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: var( --breakpoint-grid_auto-rows, minmax(min-content,max-content) );
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    grid-template-columns: var( --breakpoint-grid_column-template, repeat(4,minmax(0,1fr)) );
}


.h01{
 height: 300px;    
}