@charset "uts-8";

:root {
    --breakpoint-grid: 300px;
  }
  
  @media (max-width: var(--breakpoint-grid)) {
    /* styles for devices with a max width of 800px */

  }

/* 전체 레이아웃 */
#wrap{
    color: #222;
    background-color: #fff;
    margin: 0;
    width: auto;
}


.header{
    /* position: -webkit-sticky; */
    position: sticky;
    top: 0;
    height: 80px;
    contain-intrinsic-height: 80px;
    z-index: 10;
    contain: size style layout;
    
}
.header1{
    height: 80px;
    z-index: 100;
    position: relative;
    background-color: #111;

}
.header1 .header2{
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    width: inherit;
    padding: 0 40px;
    background-color:white;
    border-bottom: 1px solid gray;
    box-shadow: 0 1px 5px gray;

}
.start{
    --page-shell-max-content-width: 2520px;
    --gp-sidebar-top-padding: 0;
    position: relative;
    isolation: isolate;
    --explore_padding-inline: 80px;
}

.logospace {
    font-size: 24px;
}


.logospace a{
    text-decoration: none;
    color: rgb(30, 157, 257);
}

.logospace i {
    color: rgb(30, 157, 257);
}

.logoimg{
    outline: none;
    align-items: center;
    display: inline-flex;
    height: 80px;
    position: relative;
    vertical-align: middle;
    z-index: 1;
    color: #111;
}

.middleheader{
    padding: 0 24px;
    flex: 0 1 auto;
    min-width: 10px;
    text-align: center;
}

.header_menu{
    flex: 1 0 400px;
    text-align: center;
    display: flex;
    list-style: none;
}

.lastheader a{
    padding: 8px 12px;
    color: black;
}

.navi{
    /* -webkit-padding-before: var(--explore-nav_padding-block-start); */
    padding-block-start: var(--explore-nav_padding-block-start);
    /* position: -webkit-sticky; */
    position: sticky;
    top: calc( 80px - var(--explore-nav_padding-block-start,0px) );
    z-index: 9;
    height: 98px;
    contain-intrinsic-height: 98px;
    contain: size style layout;
    --explore-nav_padding-block-start: 20px; /*네비바 사이 공간*/

}

.navicontainer{
display: flex;
padding: 0 100px;
height: inherit;
justify-content: center;
background-color: #fff;
}   

.naviitem{
    min-width: 80px;
    margin: 0 20px;
    display: grid;
    grid-template-rows: [first] 75% [second] 25% ;
    text-align: center;
    cursor: pointer;
}

.naviitem:hover{
    transition: 0.5s;
    filter: brightness(0) invert(0);
}

/*아이콘 크기 조정 -> padding 조정*/
.naviitem .concert_icon {
    padding:20px;
    padding-top: 10px;
  }
  
  .naviitem .fest_icon {
    padding: 20px;
    padding-top: 10px;
  }
  
  .naviitem .pj_icon {
    padding: 20px;
    padding-top: 10px;
  }
  

  
  /* 아이콘 이미지 삽입 */

  .naviicon{
    width: inherit;
    filter: opacity(0.5) drop-shadow(0 0 0 #6B6A6F);
    display: block; 
    
  } 
 .project {
    background: url('/images/briefing.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .concert {
    background: url('/images/microphone.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .festival {
    background: url('/images/festival.png') no-repeat;
    background-size:70%;
    background-position: center;
  }
  
  .exhibition {
    background: url('/images/exhibition.png') no-repeat;
    background-size:70%;
    background-position: center;
  }

.footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - var(--scrollbar-gutter,0%));
    height: 100px;
    z-index: 8;
    pointer-events: none;
    display: grid;
    grid-template: repeat(2,auto) / repeat(3,33.333%);
    grid-template-areas: 'left center right' 'bottom bottom bottom';
}

.footer1{
    grid-area: bottom;
    background-color: #122;
}



.content{
    margin-inline: auto;
    background: var(#444);
    max-width: var(--page-shell-max-content-width,1760px);
    contain: paint layout;
    padding: 0 80px;
    z-index: 1;
    position: relative;
}
    

.content2{
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-rows: var(--breakpoint-grid, minmax(-webkit-min-content,-webkit-max-content) );
   
    grid-gap: var(--breakpoint-grid_row-gap,0) var(--breakpoint-grid_column-gap,0);
    /* grid-template-columns: var( --breakpoint-grid_column-template, repeat(4,minmax(0,1fr)) ); */
    grid-template-columns: repeat(auto-fiil,200px);
    --breakpoint-grid_column-gap: 24px;
    --breakpoint-grid_row-gap: 40px;
}

/* 세부 콘텐츠 스타일 고정 */

.box{
 
    height: inherit;

    display: grid;
    grid-template-rows: 70% 30%;    

}

.infospace{
    position: relative;
    display: grid;
    grid-template-rows: 20% 50% 30%;    
    gap: 2px 4px;

}
.info-name{
    text-align: left;
    font-size: 18px;  
}
/* 세부 콘텐츠 반복사항들 */
.h01{
    height: inherit;
    display: contents;

}

.h01 .posterspace{
    background: url(/images/exhibition.png) no-repeat;
    background-size: 70% ;
    background-position: center;
    border-radius: 10px;
}

.h02{
    height: inherit;
    display: contents;

}

.h02 .posterspace{
    background: url(/images/exhibition.png) no-repeat;
    background-size: 80% ;
    background-position: center;
    border-radius: 10px;
}


<<<<<<< HEAD
.h03{
    height: inherit;
    display: contents;

}

.h03 .posterspace{
    background: url(/images/exhibition.png) no-repeat;
    background-size: 80% ;
    background-position: center;
    border-radius: 10px;
}


.h04{
    height: inherit;
    display: contents;

}


.h04 .posterspace{
    background: url(/images/exhibition.png) no-repeat;
    background-size: 80% ;
    background-position: center;
    border-radius: 10px;
}

.h05{
    height: inherit;
    display: contents;

}

.h05 .posterspace{
    background: url(/images/exhibition.png) no-repeat;
    background-size: 80% ;
    background-position: center;
    border-radius: 10px;
}
=======
.h01{
 height: 300px;    
}

/* 로그인 팝업 */
  #login-btn {
    background-color: transparent;
    border: none;
    color: #000; /* Change to desired color */
    padding: 0;
    text-align: center;
    cursor: pointer;
  }



.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  
}


.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 30%;
  width: 300px; 
  height: 400px; 
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  top: -15px;
  right: -5px;
}

.close-btn:hover {
  color: black;
  transition: 0.5s;
}

/* input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;  
} */

  

/* 카카오 로그인 */

#kakao-login-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  height: 20px; 
  width: 150px; 
  bottom: -350px; 
  right: 2px;
}


>>>>>>> 4e688548034a1ea311789f3b777dee9c1e70dc65
